html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.contenedor {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.contenedor-img {
  display: flex;
  width: 300vw; 
  height: 100vh;
  transition: transform 0.5s ease;
}

.contenedor-img img {
  width: 33.33vw; 
  height: 100vh;  
  object-fit:cover;/* Asegura que la imagen cubra completamente el área disponible */
  filter: grayscale(0.8);
}

.contenedor-img img:hover {
  filter: none;
  transition: 0.2s;
  transform: scale(1.01);
  cursor: pointer;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
  .contenedor-img {
    width: 300vw; /* Mantener el ancho del contenedor para la transición */
  }

  .contenedor-img img {
    filter: none;
    width: 100vw; 
    height: 100vh;  
  }

  .arrow {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 0.5);
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: #000;
    border-radius:10px ;
  }

  .arrow:hover{
    background: rgba(101, 98, 98, 0.5);
    transition: 0.5s;
  }

  .arrow.left {
    left: 10px;
  }

  .arrow.right {
    right: 10px;
  }
}
